In [2]:
import os 
import pandas as pd

In [13]:
csv_path  = os.path.join("AlcSales_Project1.csv")
csv_path2 = os.path.join("Police_csv.csv")

police_data = pd.read_csv(csv_path2)
alcohol_data = pd.read_csv(csv_path)

police_df = pd.DataFrame(police_data)
alc_df = pd.DataFrame(alcohol_data)
police_df.head()

,Weekstartingdate,2021/2020,Unnamed: 2,Unnamed: 3,Unnamed: 4,Previous Year,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Unsafespeedcrashes,Improperturningcrashes,DUIcrashes,Othercrashes,Unsafespeedcrashes,Improperturningcrashes,DUIcrashes,Othercrashes
1,Entire Period,"19,029","10,292","4,942","10,947","33,072","10,906","5,589","15,132"
2,2/3/2020,521,171,102,253,708,215,114,277
3,2/10/2020,535,193,120,303,713,214,82,260
4,2/17/2020,563,184,100,250,548,169,88,258

In [14]:
alc_df.head()

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645,42598,593378,0.0718,NaN,NaN
1,2017,1,5,1,402885,165586,2455022,0.0674,NaN,NaN
2,2017,1,8,1,733857,301615,4634346,0.0651,NaN,NaN
3,2017,1,9,1,412100,169373,3015481,0.0562,NaN,NaN
4,2017,1,10,1,180388,74139,799550,0.0927,NaN,NaN